<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h1>Edit your comment</h1>
   <form action="/comments/<%=commentShow.id %>?_method=PATCH" method="post">
       <textarea name="comment" id="" cols="30" rows="10">
           <%= commentShow.comment %> 
       </textarea>
       <button type="submit">Update</button>
   </form>
    
</body>
</html>