<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h1>Make your comment</h1>
    <form action="/comments" method="post">
        <div>
            <label for="username">Enter your username:</label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="comment">Make your comment:</label>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
            <button type="submit">Add</button>
        </div>
    </form>
    <a href="/comments">Back to Index</a>

</body>

</html>